<h1><%= @restaurant.name %></h1>


<ul>
  <li>Food style: <%= @restaurant.category %></li>
  <li>address: <%= @restaurant.address %></li>
  <li>Phone numer:<%= @restaurant.phone_number %></li>
</ul>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>


<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
